{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        {% endblock title %}
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
            </nav>
        </header>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </body>
    {% endblock content %}
</html>
