{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        {% endblock title %}
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
            </nav>
        </header>
        <main>
            <h1>{{ recipe_object.title }}</h1>
            <p>Author: {{ recipe_object.author.username|default:"unknown" }}</p>
            <img src="{{ recipe_object.picture }}"/>
            <div>4.5 stars</div>
            <h2>Ingredients</h2>
            <table class="ingredients-table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
        </main>
        {% endblock content %}
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
