{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        <title>Edit a Recipe</title>
        {% endblock title %}
        <link rel="stylesheet" href="{% static ' css/recipes.css' %}"/>
    </head>
    <body>
        {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
                
            </nav>
        </header>
        <main>
            <h2>Edit Recipe</h2>
            <form method="POST">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </main>
        {% endblock content %}
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
