{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
  </head>
  <body>
    {% block content %}
    <header>
      Hello, {{ user.username }}!
      <nav style="font-size: 19px;">
        <a href="{% url 'recipe_list' %}">Main page</a>
        {% if user.is_authenticated %}
          <a href="{% url 'create_recipe' %}">Create a recipe</a>
          <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'signup' %}">Sign up</a>
          <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      <h1>Scrumptious Recipes</h1>
      <h2>All the food that's fit to eat</h2>
      <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
          <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            <p>{{ recipe.created_on|date:"j D Y" }}</p>
          </h3>
          <img src="{{ recipe.picture }}" />
          <div>4.3 stars</div>
        </div>
        {% endfor %}
      </div>
    </main>
    {% endblock content %}
    <footer>Made with love by Scrumptious Recipes</footer>
  </body>
</html>
