.recipe-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:10px
  }

  header {
    padding: 25px;
    background-color: #DEB887;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(128, 0, 0);
    font-size: 25px;
  }

  nav {
    display:grid;
    align-items: center;
    row-gap: 6px;
    font-size: 19px;
    text-decoration: underline;
  }

  h1 {
    color:#CD5C5C;
  }

  h2 {
    color: rgb(205, 133, 63);
  }

  h3 {
    text-decoration: none;
    color:rgb(216, 191, 216);
  }

  main {
    padding: 20px;
    background-color: rgb(250, 235, 215);
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 235, 215);
  }

  footer {
    background-color: #DEB887;
    padding: 40px;
    margin-top: auto;
  }

  img {
    height: 200px;
  }

  th {
    background-color: rgb(216, 191, 216);
  }

  tr:nth-child(even) {
    background-color: rgb(240, 230, 140);
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: rgb(128, 0, 0);
  }

  a:hover{
    text-decoration: none;
    color: #556B2F;
  }
